@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?e4lumc');
    src:  url('../fonts/icomoon.eot?e4lumc#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?e4lumc') format('truetype'),
      url('../fonts/icomoon.woff?e4lumc') format('woff'),
      url('../fonts/icomoon.svg?e4lumc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-addPlus:before {
    content: "\e900";
  }
  .icon-arrowLeft:before {
    content: "\e901";
  }
  .icon-arrowRight:before {
    content: "\e902";
  }
  .icon-calendar:before {
    content: "\e903";
  }
  .icon-clock:before {
    content: "\e904";
  }
  .icon-close:before {
    content: "\e905";
  }
  .icon-creditCard:before {
    content: "\e906";
  }
  .icon-download:before {
    content: "\e907";
  }
  .icon-heart:before {
    content: "\e908";
  }
  .icon-home:before {
    content: "\e909";
  }
  .icon-homeActive:before {
    content: "\e90a";
  }
  .icon-library:before {
    content: "\e90b";
  }
  .icon-libraryActive:before {
    content: "\e90c";
  }
  .icon-music:before {
    content: "\e90d";
  }
  .icon-next:before {
    content: "\e90e";
  }
  .icon-pause:before {
    content: "\e90f";
  }
  .icon-play:before {
    content: "\e910";
  }
  .icon-prev:before {
    content: "\e911";
  }
  .icon-round:before {
    content: "\e912";
  }
  .icon-search:before {
    content: "\e913";
  }
  .icon-searchActive:before {
    content: "\e914";
  }
  .icon-Vector:before {
    content: "\e915";
  }
  .icon-volumeDown:before {
    content: "\e916";
  }
  .icon-volumeOff:before {
    content: "\e917";
  }
  .icon-volumeUp:before {
    content: "\e918";
  }
  