.navigation {
    flex-shrink: 0;
}

.navigation button {
    background: var(--gray60);
    color: var(--gray10);
    inline-size: 1.875rem;
    block-size: 1.875rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.navigation button:disabled {
    opacity: .5;
    cursor: not-allowed;
}

.navigation-prev i {
    position: relative;
    left: -1px;
    top: 1px;
}

.navigation-next i {
    position: relative;
    left: 1px;
    top: 1px;
}