.playlistA {
    inline-size: 13em;
    padding: 1rem;
    border-radius: .25rem;
    background: var(--gray40);
    box-sizing: border-box;
    transition: .3s background;
}

.playlistA:hover, .playlistA:focus-within {
    cursor: pointer;
    background: var(--gray30);
}

.playlistA:hover .playlistA-cover button,
.playlistA:focus-within .playlistA-cover button {
    opacity: 1;
    transform: translateY(0);
}

.playlistA-cover img {
    vertical-align: middle;
    inline-size: 100%;
    block-size: auto;
}

.playlistA-cover {
    position: relative;
    border-radius: .75rem;
    overflow: hidden;
    margin-block-end: 1rem;
}

.playlistA button {
    position: absolute;
    right: .5rem;
    bottom: .5rem;
    opacity: 0;
    transform: translateY(.5rem);
    will-change: opacity, transform;
    transition: .3s opacity, .3s transform;
}

.playlistA-title {
    font: var(--baseFontBold);
    color: var(--white);
    margin: 0;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    text-transform: none;
    letter-spacing: normal;
}

.playlistA-description {
    font: var(--baseFont);
    margin: 0;
    gap: 1;
}