@import './icons.css';
@import './fonts.css';
@import './body.css';
@import './link.css';
@import './button-icon.css';
@import './sidebar.css';
@import './ellipsis.css';
@import './player.css';
@import './page.css';
@import './layout.css';
@import './scrollbar.css';
@import './playlist-header.css';
@import './filter.css';
@import './songlist.css';

:root {
    font-size: 16px;
    --primary: #00B050;
    --white: #FFFFFF;
    --gray10: #B3B3B3;
    --gray20: #737373;
    --gray30: #282828;
    --gray40: #181818;
    --gray50: #121212;
    --gray60: #000000;
    --baseFontFamily: Avenir, Helvetica, sans-serif;
    --headline1: bold 2rem/normal var(--baseFontFamily);
    --headline2: bold 1.5rem/1.75rem var(--baseFontFamily);
    --baseFont: normal .875rem/1.375rem var(--baseFontFamily);
    --baseFontBold: bold .875rem/1.375rem var(--baseFontFamily);
    --button: bold .875rem/1rem var(--baseFontFamily);
    --small: normal .75em/normal var(--baseFontFamily);
    --subtitle2: normal .75rem/normal var(--baseFontFamily);
}


.album-bg {
    margin: 0;
    background: linear-gradient(181.17deg, rgba(47, 47, 47, 0) -35.3%, #171717 66.2%), url('../images/albumtape.jpg');
    background-repeat: space;
    background-position: top top;
    background-size: cover;
}
